.B {
    background-color: #d26719;
}

.activeB {
    background-color: #fb7419;
}

.A {
    background-color: #1a8217;
}

.activeA {
    background-color: #21b71e;
}

.C {
    background-color: #e6ff30;
}

.activeC {
    background-color: #f8ff52;
}

.D {
    background-color: #ff42c1;
}

.activeD {
    background-color: #ff64e2;
}
.E {
    background-color: #5f51ff;
}

.activeE {
    background-color: #7f73ff;
}

.F {
    background-color: #a5322f;
}

.activeF {
    background-color: #c7544f;
}
