.Light-Position {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
}


.Led-Green {
    float: left;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #00A300;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}
.Led-Green-Flash {
    float: left;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #009300;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
    animation: blinkGreen 2s infinite;
}

.Led-Yellow-Flash {
    float: left;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #FFFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
    animation: blinkYellow 2s infinite;
}
.Led-Yellow {
    float: left;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #FF0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}

.Led-Red {
    float:left;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #FF0000;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

@keyframes blinkYellow {
    0% {
        background-color: #FFFF00;
    }
    25% {
        background-color: #FF8800;
    }
    50% {
        background-color: #FF0000;
    }
    75% {
        background-color: #FF8800;
    }
    100% {
        background-color: #FFFF00;
    }
}

@keyframes blinkGreen {
    0% {
        background-color: #009300;
    }
    25% {
        background-color: #00D100;
    }
    50% {
         background-color: #32FF00;
     }
    75% {
          background-color: #00D100;
      }
    100% {
        background-color: #009300;
    }

}