.App {
  text-align: center;
}

*{
    margin: 0;
    font-family: Montserrat;
}

.Backdrop {
    width:100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

.wrapper {
    margin:auto;
    width: 75vw;
    height: 100%;
}
.stations-wrapper{
    top: 0;
    width: 69%;
    height: 100vh;
    float: left;
    position: relative;
}

.ws-wrapper {
    background-color: lightgray;
    box-sizing: border-box;
    position: relative;
    font-size: 10px;
    z-index: 5;
    /*border: 2px solid black;*/
    width: calc(100%/3);
    height: 25vh;
    float: left;
}
.working-station {
    background-color: lightgray;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
}

.working-station > div {
    margin: auto;
}

.todo{
    position: absolute;
    top: 15px;
    left: 15px;
}

.done{
    position: absolute;
    bottom: 15px;
    left: 15px;
}



.sold{
    width: 100%;
    position: absolute;
    bottom: 15px;
}

.ui-wrapper{
    margin: 0;
    width: 30%;
    height: 100vh;
    float: left;
}

.controls{

    border: 2px solid red;
    background-color: yellow;
    box-sizing: border-box;
    width: 100%;
    height: 75vh;
}
.btns-wrapper {
    width: 100%;
    height: 40vh;
    float: left;
}
.btns {
    width: 50%;
    position: relative;
    height: 40vh;
    box-sizing: border-box;
    float: left;
}
.game-info{

    border: 2px solid #ff560f;
    background-color: #27ea1c;
    box-sizing: border-box;
    width: 100%;
    height: 25vh;
}

.game-info > ul {
    text-align: left
}

@media (max-width: 1200px){
    .wrapper {
        margin:auto;
        width: 85vw;
        height: 100%;
    }
}

@media (max-width: 1000px){
    .wrapper {
        margin:auto;
        width: 90vw;
        height: 100%;
    }
}

@media (max-width: 800px){
    .wrapper {
        margin:auto;
        width: 100vw;
        height: 100%;
    }
}


.clicked {
    background-color: yellowgreen;
}
.not-clicked {
    background-color: red;
}


/*.main-station{*/
    /*background-color: red;*/
    /*box-sizing: border-box;*/
    /*position: relative;*/
    /*border: 2px solid black;*/
    /*width: 40%;*/
    /*height: 25vh;*/
    /*float: left;*/
/*}*/

/*.main-station > div {*/
    /*margin: auto;*/
/*}*/

/*.main-station > span.todo{*/
    /*position: absolute;*/
    /*top: 15px;*/
    /*left: 15px;*/
/*}*/

/*.main-station > span.done{*/
    /*position: absolute;*/
    /*bottom: 15px;*/
    /*left: 15px;*/
/*}*/

/*.sell-station{*/
    /*background-color: red;*/
    /*box-sizing: border-box;*/
    /*position: relative;*/
    /*border: 2px solid black;*/
    /*width: 30%;*/
    /*height: 25vh;*/
    /*float: left;*/
/*}*/